@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --accent-color: hsl(26, 100%, 55%);
  --muted-color: hsl(25, 100%, 94%);
  --title-color: hsl(220, 13%, 13%);
  --body-color: hsl(219, 9%, 45%);
  --color-gray-light: hsl(220, 14%, 75%);
  --color-gray-lightest: hsl(220, 14%, 94%);
  --color-black-overlay: rgba(0, 0, 0, 0.8);
  --color-white: #ffffff;
}

:root {
  --big-font-size: 4.8rem;
  --h1-font-size: 3.2rem;
  --h2-font-size: 2.4rem;
  --h3-font-size: 1.8rem;
  --regular-font-size: 1.6rem;
  --weight-regular: 400;
  --weight-bold: 700;
}

:root {
  --mb-xs: 0.8rem;
  --mb-s: 1.6rem;
  --mb-m: 3.2rem;
  --mb-l: 6.4rem;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 90em) {
  .product {
    flex-direction: row;
    margin: 16rem auto;
    max-width: 136rem;
    padding: 0 4rem;
    gap: 12rem;
  }
}

.swiper-flex {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}
@media only screen and (min-width: 90em) {
  .swiper-flex {
    width: 60rem;
  }
}

.swiper {
  position: relative;
  width: 100%;
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
@media only screen and (min-width: 48em) {
  .swiper {
    max-width: 70rem;
    max-height: 70rem;
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: c;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 48em) {
  .swiper-slide {
    padding: 0 2rem;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s;
}
@media only screen and (min-width: 48em) {
  .swiper-slide img {
    border-radius: 1rem;
  }
}

.swiper-button-next, .swiper-button-prev,
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  background-color: var(--color-white);
  height: 1rem;
  width: 1rem;
  border-radius: 100px;
  padding: 2rem;
}
.swiper-button-next .next-box .icon-next, .swiper-button-prev .next-box .icon-next,
.swiper-button-next .next-box .icon-next,
.swiper-button-prev .next-box .icon-next {
  width: 1.6rem;
  height: 1.6rem;
  z-index: 9999;
  transform: translate(10%, 5%);
}
@media only screen and (min-width: 48em) {
  .swiper-button-next .next-box, .swiper-button-prev .next-box,
.swiper-button-next .next-box,
.swiper-button-prev .next-box {
    transform: translate(-10%, 5%);
  }
}
.swiper-button-next .prev-box .icon-prev, .swiper-button-prev .prev-box .icon-prev,
.swiper-button-next .prev-box .icon-prev,
.swiper-button-prev .prev-box .icon-prev {
  width: 1.6rem;
  height: 1.6rem;
  transform: translate(-10%, 5%);
}
@media only screen and (min-width: 90em) {
  .swiper-button-next, .swiper-button-prev,
.swiper-button-next,
.swiper-button-prev {
    display: none;
  }
}
@media only screen and (min-width: 48em) {
  .swiper-button-prev,
.swiper-button-prev {
    transform: translate(50%, 5%);
  }
}
@media only screen and (min-width: 48em) {
  .swiper-button-next,
.swiper-button-next {
    transform: translate(-50%, 5%);
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-thumbs {
  display: none;
}
@media only screen and (min-width: 90em) {
  .swiper-thumbs {
    display: block;
  }
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper .swiper-slide img:hover {
  transform: scale(0.95);
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 0.5;
}
.mySwiper .swiper-slide-thumb-active img {
  border: 3px solid var(--accent-color);
}

.product-info {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 48em) {
  .product-info {
    justify-content: center;
    align-items: start;
  }
}
.product-info__tag {
  text-transform: uppercase;
  margin-bottom: var(--mb-xs);
  font-size: 1.2rem;
  font-weight: var(--weight-bold);
  color: var(--accent-color);
  letter-spacing: 0.1rem;
}
@media only screen and (min-width: 90em) {
  .product-info__tag {
    margin-bottom: var(--mb-s);
    font-size: 1.4rem;
  }
}
.product-info__heading {
  line-height: 1;
  color: var(--title-color);
  margin-bottom: var(--mb-s);
  font-size: var(--h1-font-size);
}
@media only screen and (min-width: 90em) {
  .product-info__heading {
    margin-bottom: var(--mb-m);
    font-size: var(--big-font-size);
  }
}
.product-info__description {
  line-height: 1.5;
  margin-bottom: var(--mb-m);
}
@media only screen and (min-width: 90em) {
  .product-info__description {
    margin-bottom: var(--mb-l);
  }
}
.product-info__price {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: start;
  align-items: center;
  margin-bottom: var(--mb-m);
}
@media only screen and (min-width: 48em) {
  .product-info__price {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    row-gap: 0.8rem;
  }
}
@media only screen and (min-width: 90em) {
  .product-info__price {
    margin-bottom: var(--mb-m);
  }
}
.product-info__price__after {
  font-size: var(--h1-font-size);
  font-weight: var(--weight-bold);
  color: var(--title-color);
  margin-right: var(--mb-s);
}
.product-info__price__discount {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  margin-right: auto;
  background-color: var(--muted-color);
  color: var(--accent-color);
  font-weight: var(--weight-bold);
}
@media only screen and (min-width: 48em) {
  .product-info__price__discount {
    grid-column: 2/-1;
  }
}
.product-info__price__before {
  font-weight: var(--weight-bold);
  color: var(--color-gray-light);
  text-decoration: line-through;
  justify-self: end;
}
@media only screen and (min-width: 48em) {
  .product-info__price__before {
    justify-self: start;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--mb-s);
  padding: 0 10rem;
}
.item__btn-minus {
  transform: translateY(60%);
}
.item__number {
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

.item-wrapper {
  display: grid;
  margin-bottom: var(--mb-l);
}
@media only screen and (min-width: 48em) {
  .item-wrapper {
    grid-template-columns: 16rem 24rem;
    column-gap: 2rem;
  }
}
@media only screen and (min-width: 90em) {
  .item-wrapper {
    margin-bottom: 0;
  }
}

.choose-btn {
  background-color: var(--color-gray-lightest);
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  font-weight: var(--weight-bold);
  font-size: var(--regular-font-size);
}
@media only screen and (min-width: 48em) {
  .choose-btn {
    margin: 0;
  }
}

.swiper-modal {
  position: fixed;
  z-index: 501;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
@media only screen and (min-width: 90em) {
  .swiper-modal {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}
@media only screen and (min-width: 90em) {
  .swiper-modal .swiper .swiper-button-prev, .swiper-modal .swiper .swiper-button-next,
.swiper-modal .swiper .swiper-button-prev,
.swiper-modal .swiper .swiper-button-next {
    display: flex;
  }
}
.swiper-modal .swiper .swiper-button-prev,
.swiper-modal .swiper .swiper-button-prev {
  transform: translateX(-20%);
}
.swiper-modal .swiper .swiper-button-prev .icon-prev,
.swiper-modal .swiper .swiper-button-prev .icon-prev {
  transform: translate(-15%, 10%);
}
.swiper-modal .swiper .swiper-button-next,
.swiper-modal .swiper .swiper-button-next {
  transform: translateX(20%);
}
.swiper-modal .swiper .swiper-button-next .icon-next,
.swiper-modal .swiper .swiper-button-next .icon-next {
  transform: translate(20%, 5%);
}
.swiper-modal .swiper-thumbs {
  display: none;
}
@media only screen and (min-width: 90em) {
  .swiper-modal .swiper-thumbs {
    display: block;
  }
}
.swiper-modal .mySwiper4 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.swiper-modal .mySwiper4 .swiper-slide img {
  transition: all 0.3s;
}
.swiper-modal .mySwiper4 .swiper-slide img:hover {
  transform: scale(0.95);
}
.swiper-modal .mySwiper4 .swiper-slide-thumb-active {
  opacity: 0.3;
}
.swiper-modal .mySwiper4 .swiper-slide-thumb-active img {
  border: 3px solid var(--accent-color);
}

.btn-close-modal {
  margin-right: 2rem;
  width: 2.4rem;
  align-self: end;
  transition: all 0.2s;
}

.header {
  position: relative;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 2rem;
}
@media only screen and (min-width: 48em) {
  .header {
    max-width: 70rem;
    margin: 1.6rem auto;
  }
}
@media only screen and (min-width: 90em) {
  .header {
    max-width: 148rem;
  }
  .header::after {
    content: "";
    position: absolute;
    z-index: -1;
    transform: translateY(8rem);
    width: 144rem;
    height: 1px;
    background-color: var(--color-gray-lightest);
  }
}
.header__left, .header__right {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
@media only screen and (min-width: 90em) {
  .header__left, .header__right {
    gap: 4rem;
  }
}
.header__avatar {
  width: 3.2rem;
  border-radius: 50px;
  transition: all 0.1s;
}
.header__avatar:hover {
  border: 2px solid var(--accent-color);
}
@media only screen and (min-width: 90em) {
  .header__avatar {
    width: 4.8rem;
  }
}
.header__logo {
  position: relative;
  bottom: 0.2rem;
}
@media only screen and (min-width: 90em) {
  .header__logo {
    width: 16rem;
  }
}
.header__cart-icon {
  position: relative;
}
.header__cart-icon img {
  width: 2.4rem;
}
@media only screen and (min-width: 90em) {
  .header__cart-icon img {
    width: 2.8rem;
  }
}
.header__cart-icon--notif {
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  padding: 0.1rem 0.8rem;
  background-color: var(--accent-color);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}
.header__btn-open {
  cursor: pointer;
}
@media only screen and (min-width: 90em) {
  .header__btn-open {
    width: 2.4rem;
  }
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--color-white);
  height: 100vh;
  width: 30rem;
  transition: all 0.4s ease-in-out;
}
@media only screen and (min-width: 48em) {
  .nav {
    width: 40rem;
  }
}
@media only screen and (min-width: 90em) {
  .nav {
    width: 100vw;
  }
}
.nav__list {
  padding: 10rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav__list__link:nth-child(1) {
  transition: all 0.4s;
}
.nav__list__link:nth-child(2) {
  transition: all 0.6s;
}
.nav__list__link:nth-child(3) {
  transition: all 0.8s;
}
.nav__list__link:nth-child(4) {
  transition: all 1s;
}
.nav__list__link:nth-child(5) {
  transition: all 1.2s;
}
@media only screen and (min-width: 48em) {
  .nav__list {
    gap: 4rem;
  }
}
@media only screen and (min-width: 90em) {
  .nav__list {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 6rem;
  }
}
.nav a {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-bold);
  color: var(--title-color);
}
@media only screen and (min-width: 48em) {
  .nav a {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 90em) {
  .nav a {
    font-size: 3.6rem;
  }
}
.nav__btn-close {
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: 9999;
  padding-bottom: 10rem;
  cursor: pointer;
}
@media only screen and (min-width: 90em) {
  .nav__btn-close {
    left: auto;
    right: 8rem;
    top: 6rem;
  }
}
.nav__btn-close img {
  width: 1.6rem;
}
@media only screen and (min-width: 90em) {
  .nav__btn-close img {
    width: 2.4rem;
  }
}

.cart {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 100px -20px;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  position: absolute;
  top: 7rem;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
@media only screen and (min-width: 48em) {
  .cart {
    right: 6rem;
  }
}
.cart__heading {
  border-bottom: 0.1rem solid hsl(0deg, 0%, 90%);
  padding: 2rem;
  color: var(--title-color);
  font-size: var(--h3-font-size);
}
.cart__empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--weight-bold);
  padding: 4rem 8rem;
}
.cart__product {
  display: grid;
  grid-template-rows: 1fr 4rem;
  grid-template-columns: 1fr 3fr 1fr;
  row-gap: 2rem;
  padding: 2rem;
}
.cart__product__img {
  width: 4rem;
  align-self: center;
  justify-self: start;
}
.cart__product__btn {
  grid-column: 1/-1;
  cursor: pointer;
  line-height: 1;
}
.cart__product__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart__product__info-final-price {
  font-weight: var(--weight-bold);
  color: var(--title-color);
}

.icon-delete {
  width: 1.6rem;
  align-self: center;
  justify-self: end;
  cursor: pointer;
}

.footer {
  background-color: var(--muted-color);
  width: 100%;
  height: 24rem;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 6rem;
  padding: 1.6rem;
}
.footer address {
  font-style: normal;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}

.hidden-cart {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: var(--color-black-overlay);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 50rem;
  margin: 3.2rem auto;
  padding: 0 2rem;
}
@media only screen and (min-width: 48em) {
  .container {
    max-width: 70rem;
    margin: 3.2rem auto;
  }
}
@media only screen and (min-width: 90em) {
  .container {
    max-width: 144rem;
  }
}

.btn {
  background-color: var(--accent-color);
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  color: var(--color-white);
  font-weight: var(--weight-bold);
  font-size: var(--regular-font-size);
  font-family: "Kumbh Sans", sans-serif;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-light {
  box-shadow: var(--accent-color) 0px 15px 50px -12px;
}
.btn:hover {
  background-color: hsl(25deg, 100%, 68%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: var(--regular-font-size);
  color: var(--body-color);
  background-color: var(--color-white);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

img {
  width: 100%;
  cursor: pointer;
}

.icon-gray {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--body-color);
  cursor: pointer;
  transition: all 0.2s;
}
.icon-gray:hover {
  fill: var(--accent-color);
}

.icon-accent {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--accent-color);
  cursor: pointer;
  transition: all 0.2s;
}
.icon-accent:hover {
  fill: hsl(25deg, 100%, 68%);
}

.cart-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.icon-minus {
  transform: translateY(-60%);
}

/*# sourceMappingURL=style.css.map */
