@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	// Font Size
	--big-font-size: 4.8rem;
	--h1-font-size: 3.2rem;
	--h2-font-size: 2.4rem;
	--h3-font-size: 1.8rem;
	--regular-font-size: 1.6rem;

	// Font Weight
	--weight-regular: 400;
	--weight-bold: 700;
}
