@use 'components/products';
@use 'components/header';
@use 'components/nav';

@use 'base/helper';
@use 'base/reset';

.swiper {
	width: 100%;
	height: 40vh;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: c;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button {
	&-prev,
	&-next {
		width: 0.8rem;
		height: 0.8rem;
	}

	&-prev {
		margin-left: 2rem;
	}

	&-next {
		margin-right: 2rem;
	}
}

.swiper-button-next::after,
.swiper-button-prev::after {
	content: '';
}

.swiper-button {
	&-prev::before,
	&-next::before {
		content: '';
		position: absolute;
		// opacity: 0.5;

		position: absolute;
		top: 50%;
		left: 50%;

		z-index: -2;

		border-radius: 500px;

		background-color: var(--gray-lightest);

		height: 4rem;
		width: 4rem;
	}

	&-prev::before {
		transform: translate(-47%, -50%);
	}
	&-next::before {
		transform: translate(-53%, -50%);
	}
}
