.header {
	height: 6rem;
	background-color: var(--color-white);
	display: flex;
	justify-content: space-between;
	padding: 2rem;

	&__left,
	&__right {
		display: flex;
		align-items: center;
		gap: 1.6rem;
	}

	&__avatar {
		width: 3.2rem;
	}

	&__logo {
		position: relative;
		bottom: 0.2rem;
	}

	&__cart img {
		width: 2.4rem;
	}

	&__btn-open {
		cursor: pointer;
	}
}
