@use '../abstracts/' as *;

.nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: var(--color-white);
	height: 100vh;
	width: 30rem;
	transition: all 0.4s;

	@include respond(tab-port) {
		width: 40rem;
	}

	&__list {
		padding: 10rem 3rem;

		display: flex;
		flex-direction: column;
		gap: 2rem;

		@include respond(tab-port) {
			gap: 4rem;
		}
	}

	&__list__link {
		font-size: var(--h3-font-size);
		font-weight: var(--weight-bold);
		color: var(--title-color);

		@include respond(tab-port) {
			font-size: 2.2rem;
		}
	}

	&__btn-close {
		position: absolute;
		top: 3rem;
		left: 3rem;
		z-index: 9999;
		padding-bottom: 10rem;
		cursor: pointer;
	}

	&__btn-close img {
		width: 1.6rem;
	}
}
